{
    "extends": [
        "airbnb-base",
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:prettier/recommended",
        "prettier/react",
        "prettier/@typescript-eslint"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": ["./tsconfig.json", "./tsconfig.eslint.json"]
    },
    "plugins": ["@typescript-eslint", "react", "prettier"],
    "rules": {
        "class-methods-use-this": "off",
        "dot-notation": "off",
        "func-names": ["error", "as-needed"],
        "no-nested-ternary": "off",
        "react/no-children-prop": "warn",
        "import/no-extraneous-dependencies": [
            "error",
            { "devDependencies": true }
        ]
    },
    "settings": {
        "react": {
            "version": "detect"
        },
        "import/resolver": {
            "node": {
                "extensions": [".js", ".tsx", ".ts"]
            }
        }
    }
}
