{
    "extends": "edited",
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [ ".js", ".jsx" ],
            }
        }
    },
    "rules": {
        "react/prefer-es6-class": [2, "always"],
    }
}